<!DOCTYPE HTML>
<html lang="fr" ng-app="myApp">

<head>
    <ng-include src="'../partials/common/head.html'"></ng-include>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="/public/favicon.png">

    <title>Myle Social Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body style="background-image: url('http://paradigmpacific.com/wp-content/uploads/2013/10/hd-abstract-blue-background-blue-abstract-light-effect-e1384137997423.jpg')">
<div class="container" style="background:white;">
    
 
    <div class="page-header text-center">
        <h3 style="color: #0099e5;"><span class="fa fa-user"></span> Welcome To Your Profile Page</h3>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <br/>
    </div>

    <div class="row">

        

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Login with Myle </h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                <div hidden><strong>password</strong>: <%= user.local.password %></div>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Logout</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>


    
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook </h3>

                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Logout from Facebook </a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook </a>
                <% } %>

            </div>
        </div>
    
    </div>
    
    
    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Logout from Twitter</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Logout from Google</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>



</div>
</body>
</html>
